<section id="container">
  <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
  <!--header start-->
  <header class="header black-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="/" class="logo"><b>DASH<span>IO</span><i class="far fa-window-maximize"></i></b></a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
      <!--  notification start -->
      <ul class="nav top-menu">
        <!-- settings start -->
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <i class="fa fa-tasks"></i>
            <span class="badge bg-theme">4</span>
            </a>
          <ul class="dropdown-menu extended tasks-bar">
            <div class="notify-arrow notify-arrow-green"></div>
            <li>
              <p class="green">You have 4 pending tasks</p>
            </li>
            <li>
              <a href="index.html#">
                <div class="task-info">
                  <div class="desc">Dashio Admin Panel</div>
                  <div class="percent">40%</div>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="index.html#">
                <div class="task-info">
                  <div class="desc">Database Update</div>
                  <div class="percent">60%</div>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    <span class="sr-only">60% Complete (warning)</span>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="index.html#">
                <div class="task-info">
                  <div class="desc">Product Development</div>
                  <div class="percent">80%</div>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">80% Complete</span>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="index.html#">
                <div class="task-info">
                  <div class="desc">Payments Sent</div>
                  <div class="percent">70%</div>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                    <span class="sr-only">70% Complete (Important)</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="external">
              <a href="#">See All Tasks</a>
              
            </li>
          </ul>
        </li>
        <!-- settings end -->
        <!-- inbox dropdown start-->
        <li id="header_inbox_bar" class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <i class="far fa-envelope"></i>
            <span class="badge bg-theme">5</span>
            </a>
          <ul class="dropdown-menu extended inbox">
            <div class="notify-arrow notify-arrow-green"></div>
            <li>
              <p class="green">You have 5 new messages</p>
            </li>
            <li>
              <a href="index.html#">
                <%# <span class="photo"><img alt="avatar" src="img/ui-zac.jpg"></span> %>
                <span class="photo"></span>
                <span class="subject">
                <span class="from">Zac Snider</span>
                <span class="time">Just now</span>
                </span>
                <span class="message">
                Hi mate, how is everything?
                </span>
                </a>
            </li>
            <li>
              <a href="index.html#">
                <%# <span class="photo"><img alt="avatar" src="img/ui-divya.jpg"></span> %>
                <span class="photo"></span>
                <span class="subject">
                <span class="from">Divya Manian</span>
                <span class="time">40 mins.</span>
                </span>
                <span class="message">
                Hi, I need your help with this.
                </span>
                </a>
            </li>
            <li>
              <a href="index.html#">
                <%# <span class="photo"><img alt="avatar" src="img/ui-danro.jpg"></span> %>
                <span class="photo"></span>
                <span class="subject">
                <span class="from">Dan Rogers</span>
                <span class="time">2 hrs.</span>
                </span>
                <span class="message">
                Love your new Dashboard.
                </span>
                </a>
            </li>
            <li>
              <a href="index.html#">
                <%# <span class="photo"><img alt="avatar" src="img/ui-sherman.jpg"></span> %>
                <span class="photo"></span>
                <span class="subject">
                <span class="from">Dj Sherman</span>
                <span class="time">4 hrs.</span>
                </span>
                <span class="message">
                Please, answer asap.
                </span>
                </a>
            </li>
            <li>
              <a href="index.html#">See all messages</a>
            </li>
          </ul>
        </li>
        <!-- inbox dropdown end -->
        <!-- notification dropdown start-->
        <li id="header_notification_bar" class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <i class="far fa-bell"></i>
            <span class="badge bg-warning">7</span>
            </a>
          <ul class="dropdown-menu extended notification">
            <div class="notify-arrow notify-arrow-yellow"></div>
            <li>
              <p class="yellow">You have 7 new notifications</p>
            </li>
            <li>
              <a href="index.html#">
                <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                Server Overloaded.
                <span class="small italic">4 mins.</span>
                </a>
            </li>
            <li>
              <a href="index.html#">
                <span class="label label-warning"><i class="fa fa-bell"></i></span>
                Memory #2 Not Responding.
                <span class="small italic">30 mins.</span>
                </a>
            </li>
            <li>
              <a href="index.html#">
                <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                Disk Space Reached 85%.
                <span class="small italic">2 hrs.</span>
                </a>
            </li>
            <li>
              <a href="index.html#">
                <span class="label label-success"><i class="fa fa-plus"></i></span>
                New User Registered.
                <span class="small italic">3 hrs.</span>
                </a>
            </li>
            <li>
              <a href="index.html#">See all notifications</a>
            </li>
          </ul>
        </li>
        <!-- notification dropdown end -->
      </ul>
      <!--  notification end -->
    </div>
    <div class="top-menu">
      <ul class="nav float-end top-menu">
        <li style="margin-top:16px;"><a class="logout" href="login.html">Logout</a></li>
      </ul>
    </div>
  </header>
  <!--header end-->
  <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
  <!--sidebar start-->
  <aside>
    <div id="sidebar" class="nav-collapse " >
      <%# <div class="sidebar-inner"> %>
        <!-- work-space meunu -->
        <!-- <div class="sidebar-menu2" >
          <ul class="sidebar-wsmenu">
            <li class="tab" ><a class="sidetab-ws" >1</a></li>
            <li class="tab" ><a class="sidetab-ws" >2</a></li>
            <li class="tab" ><a class="sidetab-ws" >3</a></li>
          </ul>
        </div> -->
        <!-- /work-space meunu -->

        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          
          <%# <div> %>
            
            <h4 class="centered">Personal Space</h4>
            <div class="centered">
              <a style="background-color:#3399FF;" class="avatar" href="profile.html">
                <!--<img src="img/ui-sam.jpg" class="img-circle" width="80">-->
                <span  class="img-circle" width="80">SS</span>
              </a>
            </div>
            
            <h5 class="centered">Sam Soffes</h5>
            <li class="mt">
              <a class="" href="index.html">
                <i class="fa fa-home"></i>
                <span>Dashboard</span>
                </a>
            </li>
            <li class="">
              <a class="active" href="index.html">
                <i class="fa fa-tasks"></i>
                <span>Tasks</span>
                </a>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <!--<i class="fas fa-building"></i>--><i class="fas fa-plane-departure"></i>
                <span>Boads</span>
              </a>
              <ul class="sub">
                <li><a href="general.html">Private</a></li>
                <li><a href="buttons.html">Work</a></li>
              </ul>
            </li>
            <li class="">
              <a class="" href="index.html">
                <i class="far fa-id-card"></i>
                <span>Profile</span>
                </a>
            </li>
          <%# </div> %>
        </ul>
        <!-- sidebar menu end-->
      <%# </div> %>
    </div>
  </aside>
  <!--sidebar end-->
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <h3><i class="fa fa-angle-right"></i>Task List</h3>
      
      <!-- COMPLEX TO DO LIST -->
      <div class="row mt">
        <div class="col-md-12">
          <section class="task-panel tasks-widget">
            <div class="panel-heading">
              <div class="todolist-title xfloat-start">
                <h5><i class="fa fa-tasks"></i> Todo</h5>
              </div>
            </div>
            <div class="panel-body">
              <div class="task-content">
                <ul id="sortable1" class="sortable task-list">
                  <li>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">Dashio - Admin Panel & Front-end Theme</span>
                      <span class="badge bg-theme">Done</span>
                      <div class="float-end hidden-phone">
                        <button class="btn btn-primary btn-xs btn2"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btn2"><i class="fas fa-trash"></i></button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">Extensive collection of plugins</span>
                      <span class="badge bg-warning">Cool</span>
                      <div class="float-end hidden-phone">
                        <button class="btn btn-primary btn-xs btn2"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btn2"><i class="fas fa-trash"></i></button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">Free updates always, no extra fees.</span>
                      <span class="badge bg-success">2 Days</span>
                      <div class="float-end hidden-phone">
                        <button class="btn btn-primary btn-xs btn2"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btn2"><i class="fas fa-trash"></i></button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">More features coming soon</span>
                      <span class="badge bg-info">Tomorrow</span>
                      <div class="float-end hidden-phone">
                        <button class="btn btn-primary btn-xs btn2"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btn2"><i class="fas fa-trash"></i></button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">Hey, seriously, you should buy this Dashboard</span>
                      <span class="badge bg-important">Now</span>
                      <div class="float-end">
                        <button class="btn btn-primary btn-xs btn2"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btn2"><i class="fas fa-trash"></i></button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class=" add-task-row">
                <a class="btn btn-success btn-sm float-start" href="todo_list.html#">Add New Tasks</a>
                <a class="btn btn-default btn-sm float-end" href="todo_list.html#">See All Tasks</a>
              </div>
            </div>
          </section>
        </div>
        <!-- /col-md-12-->
      </div>
      <!-- /row -->

      <!-- COMPLEX TO DO LIST -->
      <div class="row mt">
        <div class="col-md-12">
          <section class="task-panel tasks-widget">
            <div class="panel-heading">
              <div class="todolist-title xfloat-start">
                <h5><i class="fa fa-tasks"></i> Done</h5>
              </div>
            </div>
            <div class="panel-body">
              <div class="task-content">
                <ul class="sortable task-list">
                  <li>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">Extensive collection of plugins</span>
                      <span class="badge bg-warning">Cool</span>
                      <div class="float-end hidden-phone">
                        <button class="btn btn-primary btn-xs btn2"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btn2"><i class="fas fa-trash"></i></button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">Free updates always, no extra fees.</span>
                      <span class="badge bg-success">2 Days</span>
                      <div class="float-end hidden-phone">
                        <button class="btn btn-primary btn-xs btn2"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-xs btn2"><i class="fas fa-trash"></i></button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
        <!-- /col-md-12-->
      </div>
      <!-- /row -->

    </section>
    <!-- /wrapper -->
  </section>
  <!-- /MAIN CONTENT -->
</section><!--/container-->