<section>
  <div class="card-panel login-container" style="">
    <h1></h1>
    <p>Admin Login</p>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email or Account Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <input type="submit" value="submit" class="login_btn waves-effect waves-light btn-small cyan lighten-2">
      </form>
    </div>
  </div>
<section>