<section id="container">
  <%= render 'layouts/admin_sidebar' %>
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <br/>
      <h3><i class="fa fa-angle-right"></i> DashBoards Top</h3>
    </section><!-- /wrapper -->
    
  </section><!-- /MAIN CONTENT -->
  <!--main content end-->
</section><!--/container-->