<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>email</th>
    <th>control</th>
  </tr>
  <% @users.each.each do |user| %>
    <tr>
      <th><%=user.id%></th>
      <th><%=user.name%></th>
      <th><%=user.email%></th>
      <th>
        <% if logged_in? && current_user.admin && !current_user?(user)%>
          <%= link_to "Delete", user_path(user), method: :delete , data: { confirm: "You sure?" }%>
        <% end %>
      </th>
    </tr>
  <% end %>
  
</table>