body {
  width:100%; 
}
html, body {
  height: 100%;
  min-height: 100%;
  background-color: #FBFBFB;
}
section {
  width:100%;
  height:100%;
  position: relative;
}
p {
  font-size:24px;
}
a:hover {
  opacity: 0.6;
}
.login-container {
  font-family: "Gill Sans", sans-serif;
  opacity: 1;
  transition: 0s;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  .card-panel {
    width: 100%;
    padding: 10px;
    box-shadow: none;
  }
}

.login-container.show{
  opacity: 1;
  margin: 0px;
}
.login_btn.waves-effect{
  display: block;
  color: #FFF;
}
.login_btn.waves-effect:hover {
  opacity: 0.6;
}
.row_a{
  padding-left: 0;
  padding-right: 0;
}
.note {
  font-size: 14px;
}
.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width:480px) { 
  /*　画面サイズが480pxからはここを読み込む　*/
  body{
    
    background-image: url("../images/login/19936.jpg");
    background-size: contain;
    background-position: center;
    background-repeat  : no-repeat;
  }
  .login-container {
    opacity: 0;
    transition: 1.0s;
    min-width: 320px;
    width: 70%;


    top: 55%;

    .card-panel {
      padding: 20px;
      box-shadow:
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }

  }

  .login-container.show {
    opacity: 0.9;
    // margin: 50px auto 50px;
    top: 45%;
  }
}

@media screen and (min-width:768px) {
  .login-container {
    min-width: 320px;
    width: 50%;
    // margin: 100px auto 50px;
    // padding: 20px;
  }
}

// .alert-danger {
//   margin-top:30px;
// }
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
    li {
      list-style: circle;
    }
  }
}
.remember-check {
  margin-bottom: 20px;
}


.alert {
  position: fixed;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: 100%;
  z-index: 3;
}  
.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
